<div class="modal-header">
	<button type="button" class="close" ng-click ='cancelDetail()' aria-hidden="true"> &times;</button>
	<h4 class="modal-title" id="detailModalLabel">
	   Thông tin chi tiết
	</h4>
 </div>
 <div class="modal-body">
	<form name="formdetail" novalidate class="css-form form-horizontal">
		
		
		<div class="form-group">
			<label class="control-label col-sm-2">Tài khoản nợ <span class='required' title="Không được trống">(*)</span></label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmtk' field-model='tk' field-label='ten_tk' fields='tk,ten_tk'
					placeholder="Nhập tài khoản nợ..."
					ng-model='dt_current.tk_no'  label='dt_current.ten_tk_no' ng-required='true' condition ="loai_tk:1">
				</ng-typeahead>
			</div>
			<div class=' col-sm-6'>{{dt_current.ten_tk_no}}</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-sm-2">Tiền {{data.ma_nt}}</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" format="number" ng-model="dt_current.tien_nt"/>
			</div>
				
			<label class="control-label col-sm-2"  ng-show="data.ma_nt!='VND'">Tiền VND</label>
			<div class="col-sm-4"  ng-show="data.ma_nt!='VND'">
				<input type="text" class="form-control " format="number" ng-model="dt_current.tien"/>
			</div>
			
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2">Mã NCC khác</label>
			<div class="col-sm-4">
				<ng-typeahead 
					module='dmkh' field-model='ma_kh' field-label='ten_kh' fields='ma_kh,ten_kh'
					placeholder="Nhập NCC..."
					ng-model='dt_current.ma_kh'  label='dt_current.ten_kh'>
				</ng-typeahead>
			</div>
			<div class=' col-sm-6'>{{dt_current.ten_kh}}</div>
		</div>
		
	</form>
 </div>
 <div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="updateDetail()"  ng-disabled="formdetail.$invalid">
	   Nhận
	</button>
	<button type="button" class="btn btn-default" ng-click='cancelDetail()'>Hủy</button>
 </div>