<stplistheaderedit></stplistheaderedit>
<div>
	<form name="form" novalidate class ="css-form form-horizontal" >
		<div class='row'>
			<div class='col-md-6'>
				<div class="form-group">
					<label class="control-label col-md-3">Tên chương trình</label>
					<div class="col-md-9">
						<input type="text" name ='name'  class="form-control"  ng-model='data.name' ng-required>
					
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Địa chỉ</label>
					<div class="col-md-9">
						<input type="text" name ='address'   class="form-control"  ng-model='data.address'>
					
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Thành phố</label>
					<div class="col-md-9">
						<input type="text" name ='city'   class="form-control"  ng-model='data.city'>
					
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Tỉnh thành</label>
					<div class="col-md-9">
						<input type="text" name ='province'   class="form-control"  ng-model='data.province'>
					
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-3">Quốc gia</label>
					<div class="col-md-9">
						<input type="text" name ='country'   class="form-control"  ng-model='data.country'>
					
					</div>
				</div>
			</div>
			<div class ='col-md-6'>
				<div class="form-group">
					<label class="control-label col-md-6">Ngày bắt đầu năm tài chính</label>
					<div class="col-md-6">
						<ng-datepicker ng-model='data.ngay_dn' ng-required='true'></ng-datepicker>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-6">Ngày bắt đầu sử dụng chương trình</label>
					<div class="col-md-6">
						<ng-datepicker ng-model='data.ngay_ky1' ng-required='true'></ng-datepicker>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-6">Ngày khóa sổ</label>
					<div class="col-md-6">
						<ng-datepicker ng-model='data.ngay_ks' ng-required='true'></ng-datepicker>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<hr />
			<h3>Những người tham gia</h3>
			<table class='table'>
				<tr style='background-color:gray;color:white'>
					<th>Tên</th><th style='width:100px'>Quản trị</th><th style='width:100px'></th><th></th>
				</tr>
				<tr>
					<td>
						<ng-colleague-typeahead ng-model='participant' condition ='active:true' on-select ='addParticipant($item)'></ng-colleague-typeahead>
					</td>
					
				</tr>
				<tr ng-repeat='r in data.participants'>
					<td>
						<img ng-src='{{r.picture}}' style='width:30px;height:30px'/> {{r.name}}
					</td>
					
					<td class='checkbox text-center'>
						<input type='checkbox' ng-model='r.admin'/>
					</td>
					<td class='text-center'>
						<button class='btn btn-primary btn-xs' ng-show='false'>Phân quyền</button>
					</td>
					<td class='text-center'>
						<button class='btn btn-danger btn-xs' ng-click ='deleteParticipant(r.email)'>Xóa</button>
					</td>
				</tr>
			</table>
		</div>
	</form>
</div>
<stplistfooteredit></stplistfooteredit>


