
<nav class="navbar navbar-default" >
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-brand">
				{{title}} <span class="label label-info">{{ list.length }}</span>
			</div>
		</div>
		<div class=" nav narbar-nav navbar-right">
			<button type="button" class="btn btn-success  navbar-btn" ng-click="btn1_click()" ng-show='btn1_show'>{{btn1_text}}</button>
			<button type="button" class="btn btn-success  navbar-btn" ng-click="btn2_click()" ng-show='btn2_show'>{{btn2_text}}</button>
			
			<button type="button" class="btn btn-primary  navbar-btn" ng-click="add()">Mới</button>
			<button type="button" class="btn btn-danger  navbar-btn" ng-disabled="isUnSelected()" ng-click ="delete()">Xóa</button>
			
			<button type="button" class="btn btn-primary  navbar-btn" ng-click="find()">Tìm</button>
			
			
			<span class="dropdown">
			  <button class="btn btn-primary dropdown-toggle navbar-btn"  type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				In
				<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation" ng-repeat='rpt in rpts'>
					<a role="menuitem" tabindex="-1" ng-click="print(rpt._id)" ng-show='isUnSelected()==false'>{{rpt.ten_mau_in}}</a>
					<span class="dropdown-header" ng-show='isUnSelected()'>{{rpt.ten_mau_in}}</span>
				</li>
				<li role="presentation" class="dropdown-header" ng-show='!rpts || rpts.length==0'>Chưa có mẫu in</li>
				<li role="presentation" class="divider"></li>
				<li role="presentation">
					<a role="menuitem" tabindex="-1" ng-click="rptManagement()">Khai báo mẫu in</a>
				</li>
			  </ul>
			</span>
			
			
			<button type="button" class="btn btn-default  navbar-btn" ng-click="btn3_click()" ng-show='btn3_show'>{{btn3_text}}</button>
			<button type="button" class="btn btn-default  navbar-btn" ng-click="btn4_click()" ng-show='btn4_show'>{{btn4_text}}</button>
			<button type="button" class="btn btn-default  navbar-btn" ng-click="btn5_click()" ng-show='btn5_show'>{{btn5_text}}</button>
			<button type="button" class="btn btn-default  navbar-btn" ng-click="options()" ng-show='options_show'>{{options_text}}</button>
		</div>
	</div>
</nav>