<stpvoucherheader></stpvoucherheader>
<div class="table-responsive"  style="overflow: auto">
	<table class ="table table-striped table-hover table-bordered">
		<tr><th>#</th><th>Chứng từ</th><th>Diễn giải</th><th>Số lượng</th><th>Tiền xuất</th><th>Đơn vị cơ sở</th></tr>
		<tr ng-repeat="r in list">
			<td width='50px'> <input type="checkbox" ng-model="r.sel"/> </td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				<div>{{ r.so_ct }}</div>
				<div>{{ r.ngay_ct|date:'dd/MM/yyyy'}}</div>
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.dien_giai}}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_sl|number:2 }}
			</td>
		
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_tien_xuat|number:0 }}
			</td>
		
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.ten_dvcs}}
			</td>
		</tr>
	</table>
</div>
<ng-page></ng-page>