<stpvoucherheader options="text:'Tùy chọn'"></stpvoucherheader>
<div class="table-responsive">
	<table class ="table table-striped table-hover table-bordered">
		<tr><th>#</th><th>Đơn hàng</th><th>Trạng thái</th><th>Khách hàng</th><th>Số lượng</th><th>Tiền hàng</th><th>Tiền CK</th><th>Tiền</th></tr>
		<tr ng-repeat="r in list" ng-class="'so1-' + r.trang_thai">
			<td width='50px'> <input type="checkbox" ng-model="r.sel"/> </td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				<div>{{ r.so_ct }}</div>
				<div>{{ r.ngay_ct|date:'dd/MM/yyyy'}}</div>
			</td>
			<td   style='cursor:pointer;width:100px' ng-click='edit(r._id)'>
				<div>{{ r.ten_trang_thai }}</div>
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				<div>{{r.ten_kh}}</div>
				<div style="font-size:12px"><i>{{r.ma_kh}}</i></div>
			</td>
			
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_sl|number:0 }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_tien_hang|number:0 }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_ck|number:0 }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_tien|number:0 }}
			</td>
			
		</tr>
	</table>
</div>
<ng-page></ng-page>