<form name="form" novalidate class ="css-form form-horizontal form-input" >
	<header-form-input></header-form-input>
	<div class="form-group">
		<label class="control-label col-sm-2">Mã vụ việc <span style='color:red' title='Không được trống'>(*)</span></label>
		<div class="col-sm-10">
			<input type="text" style="text-transform:uppercase" class="form-control" ng-model='data.ma_dt' ng-required ="true">
			
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-2">Tên vụ việc <span style='color:red' title='Không được trống'>(*)</span></label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model='data.ten_dt' ng-required="true">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
			</div>
		</div>
	</div>
	<footer-form-input></footer-form-input>
</form>