<form name="form" novalidate class ="css-form form-horizontal form-input" >
	<header-form-input></header-form-input>
	<div class="form-group">
		<label class="col-sm-2 control-label">Tài khoản <span style='color:red' title='Tài khoản không được trống'>(*)</span></label>
		<div class="col-sm-10">
			<input type="text" name ='tk'  style="text-transform:uppercase" class="form-control " ng-model='data.tk' ng-required="true">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Tên tài khoản <span style='color:red' title='Tên tài khoản không được trống'>(*)</span></label>
		<div class ="col-sm-10">
			<input type="text" name ='ten_tk' class="form-control " ng-model='data.ten_tk'  ng-required="true">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Ngoại tệ <span style='color:red' title='Ngoại tệ không được trống'>(*)</span></label>
		<div class="col-sm-10">
			<ng-selector 
				module='dmnt' fields ='ma_nt,ten_nt' field-model='ma_nt' field-label ='ten_nt'
				ng-model='data.ma_nt' ng-required='true'>
			</ng-selector>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Tài khoản mẹ</label>
		<div class="col-sm-4">
			<ng-typeahead
				module ='dmtk' fields ='tk,ten_tk' field-model='tk' field-label='ten_tk' 
				ng-model='data.tk_me' label='data.ten_tk_me'>
			</ng-typeahead>
		</div>
		<div class='col-sm-6'>{{data.ten_tk_me}}</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label><input type='checkbox' name ='tk_cn' ng-model='data.tk_cn'/> TK công nợ</label>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
			</div>
		</div>
	</div>
	<footer-form-input></footer-form-input>
</form>