<div>
	<form name="form" novalidate class ="css-form form-horizontal form-input" >
		<header-form-input></header-form-input>
		<div class="form-group">
			<label class="control-label col-sm-2">STT</label>
			<div class="col-sm-4">
				<input type="text" format='number' name ='stt' class="form-control"  ng-model='data.stt' ng-required='true'>
			</div>
			
			<label class="control-label col-sm-2">Mã số</label>
			<div class="col-sm-4">
				<input type="text"  name ='ma_so' style='text-transform:uppercase' class="form-control"  ng-model='data.ma_so' ng-required='true'>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Chỉ tiêu</label>
			<div class="col-sm-10">
				<input type="text" name ='chi_tieu' class="form-control" placeholder='Tên chỉ tiêu' ng-model='data.chi_tieu' ng-required='true'>
			</div>
		</div>
	
		<div class="form-group">
			<div class='col-sm-offset-2 col-sm-4'>
				<div class='checkbox'>
					<label><input type='checkbox' ng-model='data.print'/>In</label>
				</div>
			</div>
			<div class='col-sm-6'>
				<div class='checkbox'>
					<label><input type='checkbox' ng-model='data.bold'/>In đậm</label>
				</div>
			</div>
		</div>
		
		
		<div class="form-group">
			<label class="control-label col-sm-2">Phương pháp tính</label>
			<div class="col-sm-10">
				<select class='form-control' name='cach_tinh' ng-model='data.cach_tinh' ng-required='true'>
					<option value='1'>Mã số</option>
					<option value='2'>Tài khoản</option>
				</select>
			</div>
		</div>
		<!--tinh theo tai khoan-->
		<div ng-show="data.cach_tinh !='1'">
			<div class="form-group">
				<label class="control-label col-sm-2">Tài khoản nợ</label>
				<div class="col-sm-4">
					<ng-selector
						module='dmtk' fields='tk,ten_tk' field-model='tk' field-label='ten_tk'
						multiple="true" ng-model='data.tk_no' empty_yn='true'>
					</ng-selector>
				</div>
				<div class='col-sm-6'>
					<div class='checkbox'>
						<label><input type='checkbox' ng-model='data.giam_tru_no'/>Giảm trừ</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">Tài khoản có</label>
				<div class="col-sm-4">
					<ng-selector
						module='dmtk' fields='tk,ten_tk' field-model='tk' field-label='ten_tk'
						multiple="true" ng-model='data.tk_co' empty_yn='true' >
					</ng-selector>
				</div>
				
				<div class='col-sm-6'>
					<div class='checkbox'>
						<label><input type='checkbox' ng-model='data.giam_tru_co'/>Giảm trừ</label>
					</div>
				</div>
			</div>
			
		</div>
		<!--tinh theo cong thuc-->
		<div class="form-group"  ng-show="data.cach_tinh =='1'">
			<label class="control-label col-sm-2">Công thức tính</label>
			<div class="col-sm-10">
				<input type="text" name ='cong_thuc' class="form-control" placeholder='Nhập công thức tính' ng-model='data.cong_thuc'>
			</div>
		</div>
		<footer-form-input></footer-form-input>
	</form>
</div>


