<stplistheader></stplistheader>
<div class="table-responsive">
	<table class ="table table-striped table-bordered">
		<tr><th>#</th><th>Tài khoản</th><th>Đầu kỳ nợ</th><th>Đầu kỳ có</th><th>Đầu năm nợ</th><th>Đầu năm có</th><th>Đơn vị cơ sở</th></tr>
		<tr ng-repeat="r in list">
			<td width='50px'> <input type="checkbox" ng-model="r.sel"/> </td>
			<td  style='cursor:pointer' ng-click='edit(r._id)'>
				
				{{ r.tk }}
				
				
			</td>
			<td  style='cursor:pointer' ng-click='edit(r._id)'>
				
				{{ r.du_no00|number:0 }}
				
				
			</td>
			<td  style='cursor:pointer' ng-click='edit(r._id)'>
				
				{{ r.du_co00|number:0 }}
				
				
			</td>
			<td  style='cursor:pointer' ng-click='edit(r._id)'>
				
				{{ r.du_no1|number:0 }}
				
				
			</td>
			<td  style='cursor:pointer' ng-click='edit(r._id)'>
				
				{{ r.du_co1|number:0 }}
			
			</td>
			<td  style='cursor:pointer' ng-click='edit(r._id)'>
				
				{{r.ten_dvcs}}
			</td>
		</tr>
	</table>
</div>
<ng-page></ng-page>