<stplistheader btn1="text:'Báo cáo',click:function(){$location.url('/tkgtgt');}"></stplistheader>
<div class="table-responsive">
	<table class ="table table-striped table-bordered">
		<tr><th>#</th><th>STT</th><th>STT in</th><th>Mẫu số</th><th>Mẫu in[Tiền]</th><th>Mẫu in[Thuế]</th><th>Chỉ tiêu</th></tr>
		<tr ng-repeat="r in list" ng-class="r.bold?'cbold':'cnormal'">
			<td width='50px'> <input type="checkbox" ng-model="r.sel"/> </td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
					{{ r.stt }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
					{{ r.stt_in }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
					{{ r.ma_so }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
					{{ r.ma_in_tien }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
					{{ r.ma_in_thue}}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
					{{ r.chi_tieu }}
			</td>
		</tr>
	</table>
</div>
<ng-page></ng-page>